appnope==0.1.0
attrs==16.3.0
cached-property==1.3.0
click==6.6
coloredlogs==5.0
decorator==4.0.11
dj-database-url==0.4.1
Django==1.11.17
django-click==1.2.0
django-rq==1.2.0
djangorestframework==3.4.0
gitdb==0.6.4
GitPython==2.0.2
humanfriendly==2.4
inflection==0.3.1
-e git+https://github.com/eregs/regulations-parser.git@3503a1517d86ed272129028223b98cccbbcf1dde#egg=interpparser&subdirectory=interpparser
ipdb==0.10.0
ipython==5.3.0
ipython-genutils==0.2.0
jedi==0.10.2
json-delta==2.0
lxml==4.5.0
networkx==1.11
pbr==3.0.0
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.4
python-constraint==1.3.1
pytz==2017.2
redis==2.10.5
-e git+https://github.com/eregs/regulations-parser.git@3503a1517d86ed272129028223b98cccbbcf1dde#egg=regparser
requests==2.10.0
requests-cache==0.4.12
roman==2.0.0
rq==0.12.0
simplegeneric==0.8.1
six==1.10.0
smmap==0.9.0
stevedore==1.13.0
traitlets==4.3.2
wcwidth==0.1.7
